.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	gap: 1rem;
	animation: toast-in-right 250ms;
	transition: transform 250ms, opacity 250ms, box-shadow 250ms ease-in-out;
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(0);
	}
  }

.toast-container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

